<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>emoji</string>
		<key>tips</key>
		<array>
			<dict>
				<key>tipName</key>
				<string>Emoji0</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji1</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji2</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji3</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji4</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji5</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji6</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji7</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji8</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji9</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji10</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji11</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>Emoji12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>number</string>
		<key>tips</key>
		<array>
			<dict>
				<key>tipName</key>
				<string>number0</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>number1</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>number2</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>number3</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>number4</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>number5</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>number6</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>number7</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>number8</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>number9</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>number10</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>mind.flag</string>
		<key>tips</key>
		<array>
			<dict>
				<key>tipName</key>
				<string>flag0</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>flag1</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>flag2</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>flag3</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>flag4</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>flag5</string>
			</dict>
			<dict>
				<key>tipName</key>
				<string>flag6</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
